/* Change the size of the ListView when the app is snapped. */
@media screen and (-ms-view-state: snapped) {
     .win-listview
    {
        width: 300px;
        height: 300px;
    }
}
/* Change the size of the ListView when the app is in portrait mode. */
@media screen and (-ms-view-state: fullscreen-portrait) {
     .win-listview
    {
        width: 300px;
        height: 600px;
    }
}

/* Splitpage Styles */
.splitpage {
    -ms-grid-columns: 106px 314px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}
    /* Page Title */
    .splitpage header[role=banner] {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }

        .splitpage header[role=banner] .pagetitle {
            overflow: hidden;
            width: calc(100% - 20px);
        }
    
    /* Episodes List */
    .splitpage .itemlistsection {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-column-span: 3;
    }

        .splitpage .itemlistsection .itemlist {
            height: 100%;
            width: 100%;
            position: relative;
            z-index: 0;
        }

            .splitpage .itemlistsection .itemlist .win-vertical.win-viewport .win-surface {
                margin-bottom: 60px;
            }

                .splitpage .itemlistsection .itemlist .win-vertical.win-viewport .win-surface .win-itemsblock {
                    overflow: visible;
                }

            /* Episode Item Container */
            .splitpage .itemlistsection .itemlist .win-container {
                margin-bottom: 16px;
                margin-top: 5px;
                width: 400px;
            }

                .splitpage .itemlistsection .itemlist .win-container .win-selectioncheckmark, .splitpage .itemlistsection .itemlist .win-container .win-selectioncheckmarkbackground {
                    display: none;
                }
            
            /* Episode Container Contents */
            .splitpage .itemlistsection .itemlist .item {
                -ms-grid-rows: 1fr;
                display: -ms-grid;
                height: 60px;
                padding: 7px;
            }

                    .splitpage .itemlistsection .itemlist .item .item-info .item-title {
                        margin-top: 4px;
                        margin-bottom: 1px;
                    }

                    .splitpage .itemlistsection .itemlist .item .item-info .item-subtitle {
                        opacity: 0.6;
                    }


@media (max-width: 767px) {
    .splitpage.itemdetail {
        -ms-grid-columns: 60px;
    }

        .splitpage.itemdetail .itemlistsection {
            display: none;
        }
}
