html, body {
    background: #FFFFFF;
}

/*App Header Styles*/ 
#appHeader { 
    position: absolute; 
    z-index: 1; 
    top: 45px; 
    left: 50px; 
} 
 
    #appHeader .win-navigation-backbutton { 
        margin-right: 20px; 
    } 
 
    #appHeader h1 { 
        display: inline; 
    }
 
/* Episode ListView Dimensions */
#iconTextApplications {
	top: 125px;
    width: 100%;
	height: 79.5%; /* Fix this measurement */
}

/* style the background color of the filled-selection style items */
.win-selectionstylefilled :not(.win-footprint).win-container {
    background-color: transparent;
}

.win-selectionstylefilled .win-container.win-swipe:hover {
    background-color: transparent;
}

/* Starting Margin */
#iconTextApplications .win-horizontal.win-viewport .win-surface {
    margin: 0px 50px;
}

/* Episode Container Margin */
#iconTextApplications .win-container {
    margin: 5px 10px;
}

    /* Hide Hover Outline for Edge-to-Edge Items */
    #iconTextApplications .win-container:hover {
        outline: none;
        color: #fff;
        background-color: #643EBF;
    }

/* Episode Container */
.iconTextApplications {
    width: 210px;
    height: 100px;
    padding: 5px;
}

/* style the focus visual for edge-to-edge items */
#iconTextApplications .win-focusedoutline {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    left: 2px;
    top: 2px;
    z-index: 5;
}

.topRight {
    position: absolute;
    top: 0px;
    right: 0px;
	width: 392px;
	height: 109px;
	white-space: nowrap;
	overflow: hidden;
}

.bottomLeft {
    position: absolute;
    bottom: 0px;
    left: 50px; 
}